{% extends 'base.html' %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1 class="font color"> 
            Welcome to Tweetme2</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form method="POST" action="/create-tweet" class="form">
            {% csrf_token %}
            <input type="hidden" value='/' name = "next" />
            <textarea class="form-control mb-2" name="content" placeholder="What's Happening?"></textarea>
            <button type="submit" class="btn btn-info round float-end">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id ="tweets">
    Loading...
</div>

<script>
    const tweetElement = document.getElementById("tweets")   //getting an html element
    // tweetElement.innerHTML = "Loading..."                   // setting new html in that element

    // var el1 = '<h1>Hi there 1</h1>'
    // var el2 = '<h1>Hi there 2</h1>'
    // var el3 = '<h1>Hi there 3</h1>'
    // var el4 = '<h1>Hi there 4</h1>'
    // tweetElement.innerHTML = el1+ el2 + el3 + el4

    const xhr = new XMLHttpRequest()      // xhr = SomeClass()
    const method  = 'GET'                //'POST'
    const url = '/tweets'
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }

    function likeBtn(tweet){
        return "<button class='btn btn-info btn-small' onclick = handleDidLike(" + 
        tweet.id + "," + tweet.likes +  ")>" + tweet.likes + "Like</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class = 'col-10 col-md-10 mx-auto border rounded py-3 mb-4'id = 'tweet- " + tweet.id
        +"'>  <p>" + tweet.content + 
        "</p><div class='btn-group'>" + likeBtn(tweet) +
        "</div></div>"
        return formattedTweet
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        // console.log(xhr.response)
        const serverResponse = xhr.response   //here we are getting the response from views.py tweet_list_view data dict
        const listedItems = serverResponse.response  //we are getting the list tweet_list as the response of response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length; i++){
            // console.log(i)
            // console.log(listedItems[i])
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
            tweetElement.innerHTML =finalTweetStr
        }
        //console.log(listedItems);
    }
    xhr.send()
</script>

{% endblock content %}